[submodule "modules/ocaml-offchain"]
	path = modules/ocaml-offchain
	url = https://github.com/TrueBitFoundation/ocaml-offchain.git
[submodule "modules/webasm-solidity"]
	path = modules/webasm-solidity
	url = https://github.com/TrueBitFoundation/webasm-solidity.git
[submodule "modules/emsdk"]
	path = modules/emsdk
	url = https://github.com/juj/emsdk.git

